section{
    width: 100%;
    height: 15vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.upperHeader{
    width: 100%;
    height: 35%;
    background-color: #0D273C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.lowerHeader{
    width: 100%;
    height: 65%;
    background-color: #F1FEF4;
    display: flex;
    justify-content: center;


    .left{
        width: 47%;
        height: 100%;
        /* background-color: blue; */
        display: flex;
        gap: 20px;
        align-items: center;

        img{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }

        ul{
            display: flex;
            list-style: none;
            gap: 15px;
            justify-content: center;
            align-items: center;
        }

    }

    .right{
        width: 47%;
        height: 100%;
        /* background-color: aqua; */
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: center;

        ul{
            display: flex;
            list-style: none;
            gap: 15px;
            justify-content: center;
            align-items: center;
        }

        img{
            width: 20px;
            height: 20px;
        }
    }

}